body {
    font-family: 'Roboto Mono', monospace;
    background: #0E0E0E;
}


.sign_up {
    width: 50%;
    margin: 100px auto;
    border-radius: 80px;
    border: 1px solid #FFF;
    background: rgba(217, 217, 217, 0.18);
    backdrop-filter: blur(70px);
    padding: 50px 0;

    .sign_up_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        h1 {
            font-size: 48px;
            color: #FFF;
            font-weight: normal;
            margin: 0 0 40px 0;
        }

        .input_sign_up {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: #FFF;

            i {
                font-size: 24px;
            }

            input {
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.50);
                background: rgba(217, 217, 217, 0.01);
                backdrop-filter: blur(92px);
                padding: 10px 20px;
                width: 540px;
                font-size: 18px;
                color: #FFF;
                outline: none;
                position: relative;
            }

            ::placeholder {
                color: #FFF;
                opacity: 50%;
            }
        }

        button {
            font-size: 18px;
            fill: rgba(217, 217, 217, 0.01);
            stroke-width: 4px;
            stroke: rgba(255, 255, 255, 0.50);
            backdrop-filter: blur(92px);
            color: #FFF;
            background: none;
            margin: 40px 0 0 0;
            padding: 10px 0;
            border: 1px solid rgba(255, 255, 255, 0.50);
            border-radius: 4px;
            width: 20%;

        }

        .accaount {
            font-size: 16px;
            color: #FFF;
            width: 100%;
            text-align: center;

            a {
                text-decoration: double !important;
                color: #FFF;
                position: relative;
            }

            a::before {
                content: "";
                position: absolute;
                background: #FFF;
                width: 100%;
                height: 1px;
                bottom: 1px;
                left: 0;
            }
        }

    }
}

.position {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}